<!-- 可読性と管理効率向上のため,以下のコメントとblockは消さないこと -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  <!-- titleタグを入れる -->
  <title>Notおすすめ動画</title>
{% endblock %}

{% block extraMetaInfo %}
  <!-- 追加のlinkタグなどを入れる -->
  <link rel="stylesheet" href="{% static '/css/recommend_videos.css' %}" />
{% endblock %}

{% block extraheader %}
  <!-- headerタグ内の追加要素を入れる -->
{% endblock %}

{% block main %}
  <!-- mainタグの追加の要素を入れる -->
  <div class="your_recommendation">
    {% for video in videos %}
      {% if video.is_url_link %}
        <div>
          <form action="" method="POST">
            <iframe width="560" height="315" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </form>
        </div>
      {% else %}
        <div>
          <video controls preload="auto" playsinline src="{{ video.video.path }}"></video>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block extrafooter %}
  <!-- footerタグ内の追加要素を入れる -->
{% endblock %}

{% block extraScript %}
  <!-- 追加のjavascript読み込み用のscriptタグを入れる -->
{% endblock %}
