<!-- 可読性と管理効率向上のため,以下のコメントとblockは消さないこと -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  <!-- titleタグを入れる -->
  <form  action="" method="POST">{% csrf_token %}
  <table>
    {{  }}
  </table>
  <input type="submit" value="投稿">
</form>
{% endblock %}

{% block extraMetaInfo %}
  <!-- 追加のlinkタグなどを入れる -->
{% endblock %}

{% block extraheader %}
  <!-- headerタグ内の追加要素を入れる -->
{% endblock %}

{% block main %}
  <!-- mainタグの追加の要素を入れる -->
{% endblock %}

{% block extrafooter %}
  <!-- footerタグ内の追加要素を入れる -->
{% endblock %}

{% block extraScript %}
  <!-- 追加のjavascript読み込み用のscriptタグを入れる -->
{% endblock %}
