<!-- 可読性と管理効率向上のため,以下のコメントとblockは消さないこと -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  <!-- titleタグを入れる -->
{% endblock %}

{% block extraMetaInfo %}
  <!-- 追加のlinkタグなどを入れる -->
{% endblock %}

{% block extraheader %}
  <!-- headerタグ内の追加要素を入れる -->
{% endblock %}

{% block main %}
  <!-- mainタグの追加の要素を入れる -->
  <h2>{{ video.title }}</h2>
  <video width="640" height="360" controls>
  {% comment %} <video src="{{ videos.video.path }}" controls></video> {% endcomment %}
    <ol>
      {% comment %} {% for tag in video.tags %} {% endcomment %}
        {% comment %} <li>{{ tag }}</li> {% endcomment %}
      {% comment %} {% endfor %} {% endcomment %}
    </ol>
  </video>

{% endblock %}

{% block extrafooter %}
  <!-- footerタグ内の追加要素を入れる -->
{% endblock %}

{% block extraScript %}
  <!-- 追加のjavascript読み込み用のscriptタグを入れる -->
{% endblock %}
