*{
    font-size: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

header {
    background-color: lightyellow;
    font-family: fantasy, sans-serif;
}

.your_recommendation {
    a
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ffcfcf;
    align-items: center;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 auto;
    margin-top: 10px;
}