{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <!-- titleタグを入れるblock -->
    {% endblock %}
    {% block extraMetaInfo %}
      <!-- 追加のlinkタグなどを入れるblock -->
    {% endblock %}
  </head>
  <body>
    <header>
      {% comment %} <a href="{% url 'top' %}" name="return_home">トップページ</a> {% endcomment %}
      {% comment %} <a href="{% url 'post' %}">投稿</a> {% endcomment %}
      {% block extraheader %}

      {% endblock %}
    </header>
    <main>
      {% block main %}

      {% endblock %}
    </main>
    <footer>
      {% block extrafooter %}

      {% endblock %}
    </footer>
  </body>
</html>
