<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>サイトタイトル</title>
    </head>
    <body>
        <header>サインアップ</header>
        <h1>サインアップ</h1>
        <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
            {% csrf_token %}
            <input type="text" name="username" placeholder="ユーザーID"><br>
            <input type="password" name="password1" placeholder="パスワード"><br>
            <input type="password" name="password2" placeholder="パスワード確認用"><br>
            <br>

            {% if form.errors %}
                <span class="mb-2 text-danger d-block text-start">利用できないユーザーIDやパスワードの可能性があります。入力内容を再度ご確認ください。</span>
            {% endif %}
            <button type="submit" class="btn btn-success m-2">アカウント作成</button>
        </form>
    </body>
</html>
