<!DOCTYPE html>
<html>
<head>
    <meta cherset="UTF-8">
    <link rel="stylesheet" herf="../static/top.css">
    <title>Top_page</title>
</head>
<body>
    <header>
        <p>未定</p>
    </header>
    <div class = "diagnosis-contents">
        <form action="post">
            {% csrf_token %}
            <button type="submit" name = "diagnosis_button">診断する</button>
        </form>
    </div>
    <div class = "result-contents">
        {% for result in results %}
        <article>
            <p>目標:{{result.number}}</p>
            <p>内容:{{result.content}}</p>
            <form method = "POST" action = "{% url 'delete' %}">
                <button type = "submit" >達成！</button>
        </article>
        {% endfor %}
    </div>
</body>
</html>