<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>サイトタイトル</title>
    </head>
    <body>
        <header>サインアップ</header>
        <h1>サインアップ</h1>
        <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
            {% csrf_token %}
            


            {% if form.errors %}
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li><strong>{{ field }}:</strong> {{ error }}</li>
            {% endfor %}
        {% endfor %}
                <span class="mb-2 text-danger d-block text-start">利用できないユーザーIDやパスワードの可能性があります。入力内容を再度ご確認ください。</span>
            {% endif %}
            <button type="submit" class="btn btn-success m-2">アカウント作成</button>
        </form>
    </body>
</html>
