<!-- Test -->

<!DOCTYPE html>
<html>
  <head>
    <meta cherset="UTF-8" />
  </head>
  <body>
    <legend>興味のある分野を3つ選択</legend>
    <!--    20個の中から3個までを選択する、name指定以外でバックに
    もっていかなければならない    -->
    {% for tag in tags %}
      <input type="checkbox" name="tag{{ tag.pk }}" class="tag" />{{ tag.name }}
    {% endfor %}
    <script>
      const checkMax = 3
      const checkBoxes = document.getElementsByClassName('tag') // nameで取得するのではなく、class名で要素を取得するようにした.
      
      function checkCount(target) {
        let checkCount = 0
        checkBoxes.forEach((checkBox) => {
          if (checkBoxes.checked) {
            checkCount++
          }
        })
      
        if (checkCount > checkMax) {
          alert('最大3つまで')
          target.checked = false
        }
      }
      
      checkBoxes.forEach((checkBox) => {
        checkBox.addEventListener('change', () => {
          checkCount(checkBox)
        })
      })
    </script>
  </body>
</html>
